.ant-card-head {
  background-color: #EEEEEE;
}

.layout-dashboard .ant-card {
  border-radius: 0 !important;
}

.ant-card-head-title {
  color: #212121;
}


.ant-card-head-wrapper {
    min-height: 10px !important;
    height: 50px;
}
